.imgrow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-bottom: 14px
}

/* Create 3 equal columns that sits next to each other */
.imgcolumn {
  flex: 30%;
  max-width: 30%;
  padding: 0 4px;
}

.imgcolumn img {
  margin-top: 8px;
  vertical-align: middle;
}

dl.dl-left dt {
  float:left;
  margin-right:10px;
}
dl dd {
  min-height: 20px;
}


.subsection{
  margin-left: 40px;
}
.subsection2{
  margin-left: 40px;
}
