{% for m in include.methods %}

  {% if m.parameters and m.parameters[0].name %}
    {% assign argnames = "" %}
    {% for p in m.parameters %}
      {% assign argnames = argnames | append: ', <span class="arg">' | append: p.name | append: '</span>' %}
    {% endfor %}

    {% assign argnames = argnames | remove_first: ", " %}
  {% endif %}

  <dl>
    <dt>{{ m.name }}({{ argnames }}) </dt>
    <dd>{{ m.content }} </dd>
  </dl>

  {% if m.parameters and m.parameters[0].name %}
    <div class="arguments">
      <h5>Arguments:</h5>
      <div class="arguments-list">
        <dl class="dl-left">
        {% for p in m.parameters %}
          <dt><span class="arg">{{ p.name }}</span> <span class="dltype">({{ p.type }})</span></dt>
          <dd>{{ p.content }} </dd>
        {% endfor %}
         </dl> 
       </div>
     </div>
  {% endif %}

  {% if m.returns and m.returns[0].type %}
    <div class="arguments">
      <h5>Returns:</h5>
      <div class="arguments-list">
        <dl class="dl-left">
        {% for r in m.returns %}
          <dt><span class="dltype">({{ r.type }})</span></dt>
          <dd>{{ r.content }} </dd>
        {% endfor %}
        </dl>
      </div>
    </div>
  {% endif %}  
{% endfor %}
      
