header {
  width:190px;
  position: fixed;
  z-index: 10;
  float:left;
  top:0px;
  padding-top: 50px;
  padding-left: 50px;
  background: #fff;
  -webkit-font-smoothing:subpixel-antialiased;
  line-height: normal;
}

header h1#header-logo {
  color:#393939;
  margin:0 0 15px;
  line-height:1.1;
  font-size:28px;
}

header h1#header-logo a {
  color:#000;
}

header h1#header-logo a:hover, header h1#header-logo a:active  {
  color:#014f75;
}

header #view-on-github {
  margin-bottom:0;
  padding-bottom:10px;
}

header #header-api {
  padding-top:50px;
}

header #header-api h3 {
  display: block;
  background: #f8f8f8;
  padding: 10px 5px;
  border-top: 2px solid;
}

header #header-blog {
  padding-top:50px;
  text-align: justify;
  width: 175px;
}
header #header-blog ul {
  list-style-type: None;
  padding-inline-start: unset;
}
header #header-blog .date {
  margin-bottom:0px;
  font-size: smaller;
}

header #header-blog h4 {
  font-weight: normal;
}
header #header-blog h4 a {
  color: #000;
}

header #header-blog li {
  padding-left: 7px;
  margin-bottom: 10px;
}

header #header-blog li a {
  font-family: cursive;
}

header #header-blog li a:hover {
  color: #014f75;
  font-weight: bold;
}

@media print, screen and (max-width: 960px) {

  header #view-on-github {
    margin-bottom:20px;
  }

  header #header-blog {
    width: auto;
    padding-top:0px;
  }

  header, header #header-api {
    float:none;
    position:static;
    width:auto;
    padding-top: 0;
    padding-left: 0;
  }

  header, header #header-api {
    margin-top: 0px;
  }

  header a small {
    display:inline;
  }
}

@media print, screen and (max-width: 720px) {

  header {
    padding:0;
  }

  header #view-on-github {
    margin-bottom:20px;
  }

  header ul, header #view-on-github {
    position:static;
  }
}
