---
layout: default
title: API Docs
---

{{ content }}

{% assign sorted_collections = site.collections | sort: "position" %}
{% for collection in sorted_collections %}
  {% assign sorted_docs = collection.docs | sort: "position" %}
  {% for doc in sorted_docs %}
    <section class="doc-content">
      <section class="left-docs">
        <h3>
          <a id="{{ doc.id | replace: '/', '' | replace: '.', '' }}">
            {{ doc.title }}
            {% if doc.type %}
              <span class="endpoint {{ doc.type }}"> - {{ doc.type }}</span>
            {% endif %}
          </a>
          
        </h3>
        {% if doc.description %}
          <p class="description">{{ doc.description }}</p>
        {% endif %}

        {% if doc.parameters and doc.parameters[0].name %}
            <h4>Parameters</h4>
            <section class="subsection">
              <dl class="dl-left">
                  {% for el in doc.parameters %}
                    <dt>{{ el.name }} ({{ el.type }}) </dt>
                    <dd>{{ el.content }} </dd>
                  {% endfor %}
              </dl>
           </section>
        {% endif %}

        {% if doc.returns and doc.returns[0].type %}
            <h4>Returns</h4>
            <section class="subsection">
              <dl>
                  {% for el in doc.returns %}
                    <dt>{{ el.type }} </dt>
                    <dd>{{ el.content }} </dd>
                  {% endfor %}
              </dl>
            </section>
        {% endif %}

        {% if doc.methods_abstract and doc.methods_abstract[0].name %}
          <h4>Abstract Methods</h4>
          <section class="subsection">
          
          {% for ma in doc.methods_abstract %}
            
            <dl>
              <dt>{{ ma.name }} </dt>
              <dd>{{ ma.content }} </dd>
            </dl>

            {% if ma.parameters and ma.parameters[0].name %}
              <section class="subsection2">
                <h5>Parameters</h5>
                <dl class="dl-left">
                {% for p in ma.parameters %}
                  <dt>{{ p.name }} ({{ p.type }}) </dt>
                  <dd>{{ p.content }} </dd>
                {% endfor %}
                 </dl> 
               </section>
            {% endif %}
          
            {% if ma.returns and ma.returns[0].type %}
              <section class="subsection2">
                <h5>Returns</h5
                <dl class="dl-left">
                {% for r in ma.returns %}
                  <dt>{{ r.type }} </dt>
                  <dd>{{ r.content }} </dd>
                {% endfor %}
                </dl>
              </section>
            {% endif %}
                
          {% endfor %}
            
          </section>
        {% endif %}

        {% if doc.methods and doc.methods[0].name %}
          <h4>Methods</h4>
          <section class="subsection">
            {% for m in doc.methods %}
              <dl>
                <dt>{{ m.name }} </dt>
                <dd>{{ m.content }} </dd>
              </dl>

              {% if m.parameters and m.parameters[0].name %}
                <section class="subsection2">
                <h5>Parameters</h5>
                  <dl class="dl-left">
                  {% for p in m.parameters %}
                    <dt>{{ p.name }} ({{ p.type }}) </dt>
                    <dd>{{ p.content }} </dd>
                  {% endfor %}
                  </dl>
                </section>
              {% endif %}

              {% if m.returns and m.returns[0].type %}
                <section class="subsection2">
                  <h5>Returns</h5
                  <dl class="dl-left">
                  {% for r in m.returns %}
                    <dt>{{ r.type }} </dt>
                    <dd>{{ r.content }} </dd>
                  {% endfor %}
                  </dl>
                </section>
              {% endif %}
            {% endfor %}
          </section>
        {% endif %}
        {{ doc.content_markdown | markdownify }}
      </section>
    </section>
  {% endfor %}
{% endfor %}
