---
layout: default
title: API Docs
---

{{ content }}

{% assign sorted_docs = site.api | sort: "position" %}
{% for doc in sorted_docs %}
  <h3>
    <a id="{{ doc.id | replace: '/', '' | replace: '.', '' }}">
      {{ doc.name }}
      {% if doc.type %}
        
        <span class="endpoint {{ doc.type }}"> - {{ doc.type }}</span>
      {% endif %}
    </a>
    
  </h3>
  {% if doc.description %}
    <p class="description">{{ doc.description }}</p>
  {% endif %}


  {% comment %}
    Class constructor or function arguments
  {% endcomment %}

  {% if doc.parameters and doc.parameters[0].name %}
      <h4>Arguments:</h4>
      <div class="subsection">
        <dl class="dl-left">
            {% for el in doc.parameters %}
              {% capture type %} {{ el.type }}{% endcapture %}
              <dt>{{ el.name }} <span class="dltype">({{ type | markdownify }})</span></dt>
              <dd>{{ el.content }} </dd>
            {% endfor %}
        </dl>
     </div>
  {% endif %}

  {% if doc.returns and doc.returns[0].type %}
      <h4>Returns:</h4>
      <div class="subsection">
        <dl class="dl-left">
            {% for el in doc.returns %}
              {% capture type %} {{ el.type }}{% endcapture %}
              <dt><span class="dltype">({{ type | markdownify }})</span> </dt>
              <dd>{{ el.content }} </dd>
            {% endfor %}
        </dl>
      </div>
  {% endif %}


  {% comment %}
    Class methods
  {% endcomment %}

  {% if doc.methods_abstract and doc.methods_abstract[0].name %}
    <h4>Abstract Methods</h4>
    <div class="subsection">
      {% include api_methods.html methods=doc.methods_abstract %}  
    </div>
  {% endif %}

  {% if doc.methods and doc.methods[0].name %}
    <h4>Methods</h4>
    <div class="subsection">
      {% include api_methods.html methods=doc.methods %} 
    </div>
  {% endif %}
  {{ doc.content_markdown | markdownify }}
{% endfor %}
