---
layout: default
title: API Docs
---

<div class="api">
<p class="scroll-top"><a href="#top">top</a></p>

{{ content }}



{% assign sorted_docs = site.api | sort: "position" %}
{% for doc in sorted_docs %}

  {% assign argnames = "" %}
  {% for p in doc.parameters %}
    {% assign argnames = argnames | append: ', <span class="arg">' | append: p.name | append: '</span>' %}
  {% endfor %}
  {% assign argnames = argnames | remove_first: ", " %}

  <h3>
    <a id="{{ doc.id | replace: '/', '' | replace: '.', '' }}">
      {{ doc.name }}({{ argnames }})
    </a>
    
  </h3>
  {% if doc.description %}
    <div class="description">{{ doc.description | markdownify}}</div>
  {% endif %}

  {% if doc.code_block  %}
    {% include syntax-highlight.html block=doc.code_block %}
  {% endif %}

  {% comment %}
    Class constructor or function arguments
  {% endcomment %}

  {% if doc.parameters and doc.parameters[0].name %}
  <h4>Arguments:</h4>
  <div class="subsection">
    <dl class="dl-left">
        {% for el in doc.parameters %}
          <dt><span class="arg">{{ el.name }}</span> <span class="dltype">({{ el.type | markdownify | remove: '<p>' | remove: '</p>' | strip }})</span></dt>
          <dd>{{ el.content }} </dd>
        {% endfor %}
    </dl>
  </div>
  {% endif %}

  {% if doc.returns and doc.returns[0].type %}
  <h4>Returns:</h4>
  <div class="subsection">
    <dl class="dl-left">
        {% for el in doc.returns %}
          <dt><span class="dltype">({{ el.type | markdownify | remove: '<p>' | remove: '</p>' | strip }})</span> </dt>
          <dd>{{ el.content }} </dd>
        {% endfor %}
    </dl>
  </div>
  {% endif %}


  {% comment %}
    Class methods
  {% endcomment %}

  {% if doc.methods_abstract and doc.methods_abstract[0].name %}
    <h4>Abstract Methods</h4>
    <div class="subsection">
      {% include api_methods.html methods=doc.methods_abstract %}  
    </div>
  {% endif %}

  {% if doc.methods and doc.methods[0].name %}
    <h4>Methods</h4>
    <div class="subsection">
      {% include api_methods.html methods=doc.methods %} 
    </div>
  {% endif %}
  {{ doc.content_markdown | markdownify }}
{% endfor %}
  
</div>
