<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="Content-Type: text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="google-site-verification" content="AyRDc3HQYTQ_IJi_2wgaPgbAIXeZfanlNdBgXgsdpsQ" />
    <meta name="keywords" content="software,mpc,control,modeling,predictive,model,optimal,optimization,toolbox,framework,library">
    <meta name="author" content="Jonas Koenemann">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/icons/site.webmanifest">

    {% if page.pid == "index" %}
    <title>OpenOCL: Optimal Control (Software) Library</title>
    {% endif %}

    {% if page.pid != "index" %}
    <title>{{ page.title }} - OpenOCL</title>
    {% endif %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A software toolbox for trajectory optimization and model-predictive control." />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138547611-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-138547611-1');
    </script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </head>
  <body>
    {% include mathjax.html %}
    <div class="wrapper">

      <header>
        <div class="header-fixed">
          <a href="{{ site.url | relative_url  }}"><img id="logo"src="/assets/img/logo_white_3_large.svg" alt="Logo with little robot"></a>
          <p id="view-on-github"><a href="https://github.com/OpenOCL/OpenOCL">View the Project on GitHub</a></p>

          {% if page.pid != "api" %}
          <div id="header-blog">
            <h4><a href="/blog/"> Blog: </a> </h4>

            <ul>
            {% for post in site.posts limit:4 %}
              {% if post.hidden != true  %}
              <li>
                <p class="date">{{ post.date | date_to_string }}</p>
                <a href="{{ post.url }}">{{ post.title }} </a>
              </li>
              {% endif %}
            {% endfor %}
            </ul>
            <p class="blog-see-more"><a href="/blog/">see more</a></p>
          </div>
          {% endif %}
           {% if page.pid == "api" %}
          <div class="api" id="api-list">
            
            <p> Versions: <a href="{{ '/api-docs/' | relative_url }}">v5</a> <a href="{{ '/api-docs/v6/' | relative_url }}">v6</a></p>
            
            <h4> API classes and modules </h4>
            
            {% assign sorted_docs = site.api | where: "version", page.version | sort: "type" %}
            <ul>
            {% for doc in sorted_docs %}
              <li>
                <a href="#{{ doc.id | replace: '/', '' | replace: '.', '' }}">
                  {{ doc.title }}
                  {% if doc.type %}<span class="endpoint {{ doc.type }}"></span>{% endif %}
                </a>
              </li>
            {% endfor %}
            </ul>
          </div>
        {% endif %}

        </div> <!-- header fixed -->
      </header>

      <section>
        {% if page.pid != "index" %}
        <p>
           <a id="top" href="{{ site.url | relative_url  }}">back</a>
        </p>
        {% endif %}
      {{ content }}
      </section>

      {% if page.pid != "api" %}
      <footer>
        <p class="social-buttons">
          <a class="ocl-twitter-button" href="https://twitter.com/OpenOCL"><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1684 408q-67 98-162 167 1 14 1 42 0 130-38 259.5t-115.5 248.5-184.5 210.5-258 146-323 54.5q-271 0-496-145 35 4 78 4 225 0 401-138-105-2-188-64.5t-114-159.5q33 5 61 5 43 0 85-11-112-23-185.5-111.5t-73.5-205.5v-4q68 38 146 41-66-44-105-115t-39-154q0-88 44-163 121 149 294.5 238.5t371.5 99.5q-8-38-8-74 0-134 94.5-228.5t228.5-94.5q140 0 236 102 109-21 205-78-37 115-142 178 93-10 186-50z"/></svg></a>
          <!--<a href="https://twitter.com/OpenOCL?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-screen-name="false" data-dnt="true" data-show-count="false">Follow</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          <script src="https://apis.google.com/js/platform.js"></script>
          <div class="g-ytsubscribe" data-channelid="UCohhzFardkWUH_WZv3tBe3g" data-layout="default" data-count="hidden"></div>-->
          <a class="github-button" href="https://github.com/OpenOCL/OpenOCL/subscription" data-icon="octicon-eye" aria-label="Watch OpenOCL/OpenOCL on GitHub">Watch</a>
          <a class="github-button" href="https://github.com/OpenOCL/OpenOCL" data-icon="octicon-star" data-show-count="true" aria-label="Star OpenOCL/OpenOCL on GitHub">Star</a>
        </p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
      {% endif %}

    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/back_link.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/achors.js' | relative_url }}"></script>
    {% if page.pid == "api" %}
    <script src="{{ '/assets/js/api.js' | relative_url }}"></script>
    {% endif %}

  </body>
</html>
