<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="Content-Type: text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="google-site-verification" content="AyRDc3HQYTQ_IJi_2wgaPgbAIXeZfanlNdBgXgsdpsQ" />
    <title>OpenOCL: Matlab/Octave Optimal Control Library</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="A toolbox for Matlab/Octave that facilitates modelling for parametric optimal control, trajectory optimization or optimization of dynamical systems." />
    
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ 'styles.css' | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ site.url | relative_url  }}">OpenOCL.org</a></h1>
        <p class="view"><a href="https://github.com/JonasKoenemann/optimal-control">View the Project on GitHub</a></p>
        
        {% if page.title == "API docs" %}
          <h4> Classes and Functions </h4>
          
          {% assign sorted_docs = site.api | sort: "position" %}
          <ul>
          {% for doc in sorted_docs %}
                <li><a href="api-docs.html#{{ doc.id | replace: '/', '' | replace: '.', '' }}">
                  {{ doc.name }}
                  {% if doc.type %}<span class="endpoint {{ doc.type }}"></span>{% endif %}
                  </a></li>
          {% endfor %}
          </ul>
        {% endif %}

        {% if page.title != "API docs" %}
          <h4> Blog </h4>
          
          <ul>
          {% for post in site.posts %}
                <li>
                  <a href="{{ post.url }}">{{ post.title }} </a>
                  {{ post.excerpt }}
                </li>
          {% endfor %}
          </ul>
        {% endif %}

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  </body>
</html>
